---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore omnis doloribus pariatur fugit, possimus cupiditate alias veniam inventore quasi ipsum voluptates ut quam distinctio vero cumque quibusdam eligendi repudiandae, recusandae soluta nisi dolorem doloremque accusantium delectus! Voluptate, repudiandae suscipit laborum non tempora nihil enim fuga delectus qui quidem numquam quo aut dolorem architecto iusto. Accusantium sapiente quae corporis quam repudiandae libero porro fuga, eveniet illum modi ut accusamus cumque aut provident aliquid eaque consequuntur veritatis? Praesentium libero corporis alias excepturi provident esse, quibusdam sit modi facilis ipsa? Reprehenderit nulla maiores, ex, aliquid vel cum id ducimus pariatur nesciunt aut officia?</p>
</Layout>